@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Jacques+Francois+Shadow&display=swap');
body { 
background-color: #594017;
width: 100%;
margin: auto;
font: 40px "Jacques Francois Shadow";
}
